<a href="https://colab.research.google.com/github/Divya476/PySpark/blob/main/Pyspark_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=3ba7cd7c1604dcbbcd158e785485c0036a6a15a4efd0c59458c2aad92f247a38
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
import pyspark

In [ ]:
import pandas as pd
type(pd.read_csv('/content/sample_data/name.csv'))

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('div_praticse').getOrCreate()

In [ ]:
spark

In [ ]:
df = spark.read.csv('/content/sample_data/name.csv',header = 'True',inferSchema = True)

In [ ]:
df.show()

+-----+---+---+
| name|age|exp|
+-----+---+---+
|divya| 30| 10|
|krish|  4|  1|
|sandy| 33| 13|
+-----+---+---+

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.head(1)

[Row(name='divya', age=30, exp=10)]

In [ ]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [ ]:
df.columns

['name', 'age', 'exp']

In [ ]:
type(df.select('name','age'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df.select(['name','age'])

AttributeError: 'NoneType' object has no attribute 'select'

In [ ]:
df.dtypes

[('name', 'string'), ('age', 'int'), ('exp', 'int')]

In [ ]:
df.describe().show()

+-------+-----+------------------+-----------------+
|summary| name|               age|              exp|
+-------+-----+------------------+-----------------+
|  count|    3|                 3|                3|
|   mean| NULL|22.333333333333332|              8.0|
| stddev| NULL|15.947831618540915|6.244997998398398|
|    min|divya|                 4|                1|
|    max|sandy|                33|               13|
+-------+-----+------------------+-----------------+

In [ ]:
 df=df.withColumn('exp after 2',df['exp']+2)

In [ ]:
df.show()

+-----+---+---+-----------+
| name|age|exp|exp after 2|
+-----+---+---+-----------+
|divya| 30| 10|         12|
|krish|  4|  1|          3|
|sandy| 33| 13|         15|
+-----+---+---+-----------+

In [ ]:
df=df.drop('age')

In [ ]:
df.show()

+-----+---+-----------+
| name|exp|exp after 2|
+-----+---+-----------+
|divya| 10|         12|
|krish|  1|          3|
|sandy| 13|         15|
+-----+---+-----------+

In [ ]:
df = df.withColumnRenamed('exp','experience')

TypeError: DataFrame.withColumnsRenamed() takes 2 positional arguments but 3 were given

In [ ]:
df.show()

In [80]:
df.filter(df.name=='divya').show()

+-----+----------+-----------+
| name|experience|exp after 2|
+-----+----------+-----------+
|divya|        10|         12|
+-----+----------+-----------+

In [82]:
df.filter("name ='divya'").show()

+-----+----------+-----------+
| name|experience|exp after 2|
+-----+----------+-----------+
|divya|        10|         12|
+-----+----------+-----------+

In [84]:
df.dropna(how= 'any',thresh=1,subset='experience').show()

+-----+----------+-----------+
| name|experience|exp after 2|
+-----+----------+-----------+
|divya|        10|         12|
|krish|         1|          3|
|sandy|        13|         15|
+-----+----------+-----------+

In [90]:
df.sort("name","experience",ascending=[False,False]).show()

+-----+----------+-----------+
| name|experience|exp after 2|
+-----+----------+-----------+
|sandy|        13|         15|
|krish|         1|          3|
|divya|        10|         12|
+-----+----------+-----------+

In [94]:
df.groupby('name').max().show()

+-----+---------------+----------------+
| name|max(experience)|max(exp after 2)|
+-----+---------------+----------------+
|sandy|             13|              15|
|krish|              1|               3|
|divya|             10|              12|
+-----+---------------+----------------+

In [97]:
from pyspark.sql.functions import expr

var = 'experience + 2'
df.withColumn('experince after 2 years',expr(var)).show()

+-----+----------+-----------+-----------------------+
| name|experience|exp after 2|experince after 2 years|
+-----+----------+-----------+-----------------------+
|divya|        10|         12|                     12|
|krish|         1|          3|                      3|
|sandy|        13|         15|                     15|
+-----+----------+-----------+-----------------------+